@font-face {
  font-family: "Norse-font";
  src: url("../fonts/Norse-Bold.otf");
}

/* Global font */
@font-face {
  font-family: "Monserrat";
  src: url("../fonts/monserrat-var.woff2") format("woff2");
}

body {
  font-family: "Monserrat";
  font-weight: 400;
  background-color: var(--cream-color);
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
}

.wrapper {
  display: flex;
  justify-content: space-evenly;
  height: 100vh;
}

.left-container {
  background-image: url("../images/a-rainbow-arcs-over-the-lush.avif");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  /* flex: 1 1 0px; */
  width: calc(100vw - 60%);
  display: flex;
  align-items: center;
  position: relative;
}

.img-source p {
  position: absolute;
  display: block;
  width: 100%;
  bottom: 0;
  left: 0;
  text-align: center;
  padding: 0;
  margin-bottom: 10px;
  font-size: 1.5rem;
  color: #fff;
  font-weight: 500;
}

.img-source a {
  text-decoration: none;
  color: var(--main-color);
  background-color: white;
  padding: 1px 5px;
}

.img-source a:hover {
  color: var(--second-color);
}

.left-container .title-logo-bg {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1 0 0px;
  padding: 2rem 0;
  background-color: rgba(0, 0, 0, 0.2);
}

.logo-title {
  font-family: "Norse-font";
  font-size: 100px;
}

.left-container img {
  width: 120px;
  height: 150px;
  object-fit: contain;
}

.right-container {
  display: flex;
  flex-flow: column nowrap;
  flex: 1 0 0px;
}

.right-container h1 {
  padding: 0 50px;
}

.right-container-header p {
  font-size: 2.3rem;
  color: var(--black-color);
  font-weight: 700;
  line-height: 1.5;
  padding: 0 50px;
}

.form-controls {
  background-color: #f5f5f5;
  padding: 10px 50px;
}

.form-controls p {
  font-size: 2.3rem;
  color: var(--black-color);
  font-weight: 700;
  line-height: 1.5;
  padding: 0;
  margin: 0;
}

.form-controls label {
  font-size: 1.4rem;
  font-weight: 500;
  margin-bottom: 3px;
}

.form-controls form {
  display: flex;
  flex-flow: row wrap;
}

.form-controls form div {
  margin: 10px 0 10px 0;
}

.form-controls form div input {
  width: 60%;
  border-radius: 7px;
  border: 1px solid #ccc;
  outline: none;
  padding: 1rem 1rem;
  font-size: 1.4rem;
  letter-spacing: 0.1rem;
}

.form-controls div {
  margin: 3px;
  flex: 1 0 400px;
}

.first,
.last,
.email,
.phone,
.passwd,
.passtwo {
  display: flex;
  flex-flow: column nowrap;
}

.bottom {
  padding: 20px 50px;
}

.bottom button {
  padding: 15px 60px;
  font-size: 1.6rem;
  font-weight: 600;
  background-color: var(--main-color);
  color: var(--cream-color);
  border: none;
  border-radius: 10px;
  margin: 15px 0 20px 0;
  cursor: pointer;
}

.bottom button:hover {
  background-color: var(--second-color);
}

.bottom button:active {
  background-color: var(--accent-color);
  color: var(--black-color);
}

.bottom p {
  font-size: 1.7rem;
  font-weight: 500;
}

.bottom a {
  color: var(--main-color);
  text-decoration: none;
}

.bottom a:hover {
  text-decoration: underline;
}
