@font-face {
  font-family: "Norse-font";
  src: url("../fonts/Norse-Bold.otf");
}

/* Global font */
@font-face {
  font-family: "Monserrat";
  src: url("../fonts/monserrat-var.woff2") format("woff2");
}

body {
  font-family: "Monserrat";
  font-weight: 400;
  background-color: var(--cream-color);
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
}

.wrapper {
  display: flex;
  justify-content: space-evenly;
  height: 100vh;
}

.left-container {
  background-image: url("../images/a-rainbow-arcs-over-the-lush.avif");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  /* flex: 1 1 0px; */
  width: calc(100vw - 60%);
  display: flex;
  align-items: center;
}

.left-container .title-logo-bg {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1 0 0px;
  padding: 2rem 0;
  background-color: rgba(0, 0, 0, 0.2);
}

.logo-title {
  font-family: "Norse-font";
  font-size: 100px;
}

.left-container img {
  width: 120px;
  height: 150px;
  object-fit: contain;
}

.right-container {
  display: flex;
  flex-flow: column nowrap;
  flex: 1 0 0px;
}

.right-container h1 {
  padding: 0 50px;
}

.right-container-header p {
  font-size: 2.3rem;
  color: var(--black-color);
  font-weight: 700;
  line-height: 1.5;
  padding: 0 50px;
}

.form-controls {
  background-color: #f5f3ed;
  padding: 10px 50px;
}

.form-controls p {
  font-size: 2.3rem;
  color: var(--black-color);
  font-weight: 700;
  line-height: 1.5;
  padding: 0;
  margin: 0;
}

.form-controls label {
  font-size: 1.4rem;
  font-weight: 500;
}

.form-controls input {
  padding: 5px 5px;
}

.form-controls form {
  display: flex;
  flex-flow: row wrap;
}

.form-controls div {
  border: 1px solid pink;
  margin: 3px;
  flex: 1 0 400px;
}

.first,
.last,
.email,
.phone,
.passwd,
.passtwo {
  display: flex;
  flex-flow: column nowrap;
}
